<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
    <div class="mdl-layout--large-screen-only mdl-layout__header-row">
    </div>
    <div class="mdl-layout--large-screen-only mdl-layout__header-row">
      <h1>{{title}}</h1>
    </div>
    <div class="mdl-layout--large-screen-only mdl-layout__header-row">
    </div>
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
      <a routerLink="/dashboard" class="mdl-layout__tab">Dashboard</a>
      <a routerLink="/heroes" class="mdl-layout__tab">Heroes</a>
      <a href="#features" class="mdl-layout__tab">Details</a>
      <a href="#features" class="mdl-layout__tab">Technology</a>
      <a href="#features" class="mdl-layout__tab">FAQ</a>
    </div>
  </header>
  <main class="mdl-layout__content">
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
